Gojo/config.py
GOjo/*.session
Gojo/*.session-journal
Gojo/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Gojo/modules/helper_funcs/temp.txt
Gojo/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
Gojo.session-journal
updates.txt
*.exe
